.logo {
    height: 18px;
    @include media-breakpoint-up(lg) {
        height: auto;
    }
}

.nav {
    &-link {
        color: $black;
        &:hover {
            color: $primary;
        }
    }
}

.active {
    color: $link-hover-color;
}

.header {
    &-line {
        top: 52px;
        @include media-breakpoint-up(lg) {
            top: 104px;
        }
    }

    .fa-solid {
        width: 18px;
    }

    &-search-bar {
        position: absolute;
        top: 0;
        z-index: 1;
        .form-control {
            font-size: $small-font-size;
        }
    }
}