.art {
    &-img {
        height: 288px;
        @include media-breakpoint-up(lg) {
            height: 546px;
        }
    }

    &-people-img {
        width: 32px;
        height: 32px;
    }

    &-from-img {
        width: 24px;
        height: 24px;
    }

    &-other-img {
        width: 100%;
        height: 164px;
        @include media-breakpoint-up(md) {
            height: 327px;
        }
    }
}